.habilidades-tech {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P';
    font-size: 25px;
    color: whitesmoke;
}

.habilidades-tech .icon {
    margin-right: 25px;
    width: 90px;
     
}

.habilidades-tech .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.habilidades-tech .title {
    margin-bottom: 10px;
}